*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:
linear-gradient(135deg,#dbeafe,#f8fafc);
color:#1e293b;
}

.navbar{
position:fixed;
top:0;
width:100%;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,0.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo-home{
text-decoration:none;
font-size:28px;
font-weight:700;
color:#1e293b;
}

.menu{
display:flex;
flex-wrap:wrap;
}

.menu a{
text-decoration:none;
padding:10px 14px;
margin:5px;
border-radius:12px;
background:white;
color:#1e293b;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),
url('img/hero.png') center/cover;
display:flex;
justify-content:center;
align-items:center;
}

.hero-content{
background:rgba(255,255,255,0.5);
padding:40px;
border-radius:25px;
}

.hero-content h1{
font-size:60px;
}

section{
max-width:1100px;
margin:120px auto 40px;
padding:50px;
background:white;
border-radius:25px;
}

.card{
padding:20px;
}

.profil-box,
.inspirasi-layout,
.lptk-container{
display:flex;
gap:40px;
flex-wrap:wrap;
}

.profil-img img,
.lptk-image img{
width:280px;
border-radius:20px;
}

.img-daerah{
width:50%;
border-radius:20px;
margin:20px 0;
}

.keunikan-item{
margin-top:30px;
padding:20px;
background:#f8fafc;
border-radius:20px;
}

.btn-profil{
padding:12px 24px;
border:none;
border-radius:30px;
background:#2563eb;
color:white;
}

@media(max-width:768px){

.hero-content h1{
font-size:40px;
}

.menu{
justify-content:center;
}

.profil-box,
.inspirasi-layout,
.lptk-container{
flex-direction:column;
}

.img-daerah{
width:100%;
}

}
